Library Imports

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
import warnings
warnings.filterwarnings('ignore')

Dataset Import

In [3]:
from google.colab import files
uploaded=files.upload()

Saving data.csv to data.csv

In [4]:
my_data=pd.read_csv('data.csv')
my_data.head()

       price  bedrooms  bathrooms  ...  sqft_above  sqft_basement  yr_built
0   313000.0       3.0       1.50  ...        1340              0      1955
1  2384000.0       5.0       2.50  ...        3370            280      1921
2   342000.0       3.0       2.00  ...        1930              0      1966
3   420000.0       3.0       2.25  ...        1000           1000      1963
4   550000.0       4.0       2.50  ...        1140            800      1976

[5 rows x 12 columns]

In [5]:
#check if there is any missing values in all columns
my_data.isnull().any()

price            False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
sqft_above       False
sqft_basement    False
yr_built         False
dtype: bool

In [6]:
#drop any missing values
my_data=my_data.dropna()

In [7]:
#target feature
y = my_data['price']

#input features
features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','sqft_above','sqft_basement','yr_built']
X =my_data[features]
X.head()

   bedrooms  bathrooms  sqft_living  ...  sqft_above  sqft_basement  yr_built
0       3.0       1.50         1340  ...        1340              0      1955
1       5.0       2.50         3650  ...        3370            280      1921
2       3.0       2.00         1930  ...        1930              0      1966
3       3.0       2.25         2000  ...        1000           1000      1963
4       4.0       2.50         1940  ...        1140            800      1976

[5 rows x 11 columns]

Model Training

In [8]:
model = RandomForestRegressor(n_estimators = 30, random_state=30)
model.fit(X, y)

RandomForestRegressor(n_estimators=30, random_state=30)

Predictions

In [9]:
house_one = [4, 4, 4440, 5480, 2, 0, 3, 5, 3140, 1400, 2012]
house_two = [1, 2, 100, 200, 1, 0, 2, 4, 300, 00, 1998]

In [10]:
#house 1 prediction
price_house_one = model.predict([house_one])
price_house_one

array([1517166.66666667])

In [11]:
#house 2 prediction
price_house_two = model.predict([house_two])
price_house_two

array([1136952.33333333])

Save model

In [12]:
#pickle.dump(model, open('120295.pkl', 'wb'))